
:root,
:root[data-theme="dark"] {

    /*--cor-texto-primario: #f0f0f0;*/
    --primary-bg: #0c2536; /*bg=background*/
    --primary-color:#fff; /*texto*/
    --hover-menu:#94d7f1e7;
    --icon-color:#94d7f1e7;
    --icone-tema: #ffc400;
}


:root[data-theme="light"] {
    --primary-bg: #fff; /*bg=background*/
    --primary-color: #702222; /*texto*/
    
}



body{
    background: var(--primary-bg); /*fundo*/
    color: var(--primary-color); /*cor do texto*/
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;



}


a {
    text-decoration:none;
    color: var(--icone-tema);

}

a:hover{
    color: var(--hover-menu);
}

i {
    color: var(--icon-color);
}


/* reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*fim do reset */




/*--header--*/

#header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.25rem 1rem;
    z-index: 2;
}
/*-- .header-logo .logo --*/

.logo{
    width: 3.25rem; /*largura*/
    height: 3.25;  /*altura*/

}

.header-toggle{
    display: flex;
    justify-content: flex-end;
}

/*area do icone toggle*/
#toggleTheme {
    color: #f7d307;
    font-size: 2rem;
    cursor: pointer;
}

.menu{
    display: flex;
    align-items: center;
    background: var(--primary-bg);
    gap: 1rem;
}

/*.header-nav{
    display: none;

}
*/

